<p>
  <%= image_tag @listing.picture if @listing.picture.attached? %>
</p>

<p> 
  <h1><%= @listing.title %></h1>
</p>

<p> 
  <strong> Description: </strong>
  <%= @listing.description %>
</p>

<p> 
  <strong> Price: </strong>
  <%= @listing.price %>
</p>

<p> 
  <strong> Deposit: </strong>
  <%= @listing.deposit %>
</p>

<p> 
  <strong> Sex: </strong>
  <%= @listing.sex %>
</p>

<p> 
  <strong> Diet: </strong>
  <%= @listing.diet %>
</p>

<p> 
  <strong> Breed: </strong>
  <%= @listing.breed.name %>
</p>

<button data-stripe="payment">
  Pay Deposit <%= number_to_currency(@listing.deposit) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<% if current_user.id == @listing.user_id %>
  <button><%= link_to "Edit", edit_listing_path(@listing) %></button>
  <button><%= link_to "Destroy", listing_path(@listing), method: :delete, data: {confirm: "Are you sure?"} %></button>
<% end %>
<button><%= link_to "Back", listings_path %></button>

