<%= form_with model: listing, local:true do |form| %>
    <!-- Displays the errors in the screen. -->
    <% if listing.errors.any? %>
        <div>
            <!--  The pluralize method basically says if there is one error change make the word error "error" if more than one error than make the word "errors" -->
            <div class="error-text">
                <h2 class="error-heading"><%= pluralize(@listing.errors.count, "error") %> Prohibited this article from being save: </h2>
                <ul>
                    <% @listing.errors.full_messages.each do |msg| %>
                    <li id="error-message"><%= msg %></li>
                <% end %>
                </ul>
            </div>
        </div>
    <% end %>


  <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
  </div>

  <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
  </div>

  <div>
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
  </div>

  <div>
        <%= form.label :deposit %>
        <%= form.number_field :deposit, min: 0 %>
  </div>

  <div>
        <%= form.label :city %>
        <%= form.text_field :city %>
  </div>

  <div>
        <%= form.label :state %>
        <%= form.text_field :state %>
  </div>

  <div>
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth %>
  </div>

  <div>
        <%= form.label :diet %>
        <%= form.text_field :diet %>
  </div>

  <div>
        <!-- Below is how we add a radio button with enums -->
        <%= form.label :sex %> <br>
        <% Listing.sexes.keys.each do |s| %>
            <%= form.label s %>
            <%= form.radio_button :sex, s %>
        

            <% if s == listing.sex %>
                <% form.radio_button :sex, :checked => true %>
            <% end %>
        <% end %>
        <!-- Below is an example of how we do a drop down 
       <!--  <%= form.select :sex, options_for_select( Listing.sexes.keys, :selected => listing.sex) %> -->
  </div>

  <div>
        <%= form.label :breed_id %>
        <%= form.select :breed_id, options_for_select(Breed.all.collect { |u| [u.name, u.id] }, :selected => listing.breed_id) %>
  </div>

  <div>
      <%= form.label :picture%>
      <%= form.file_field :picture, accept: "image/png,image/gif,image/jpg,image/jpeg"%>
  </div>
  <div>
      <%= form.submit %>
  </div>
<% end %>